@font-face{
    font-family: fanHeiti;
    src: url('../fonts/AdobeFanHeitiStd-Bold.otf');
}

@font-face{
    font-family: candara;
    src: url('../fonts/Candara.ttf');
}

body#home{
    font-family: candara;
}

html {
    background: url("../img/bgImg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div#topnav{
    margin: 10px;
}

#topnav>button{
    margin: 2px;
}

div#title{
    color: white;
    position: absolute;
    top: 200px;
    left: 30px;
}

div#title>h1{
    font-size: 300%;
}

div#footer{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

div#footer>p{
    font-size: 12px;
}

button{
    cursor: pointer;
}